@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');

@media (prefers-color-scheme: light) {
  :root {
    --background--primary: #fff;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background--primary: #0b132b;
    --background--section--primary: #1c2541;
    --background--section--secondary: #3a506b;
    --color--span: #5bc0be;
    --color--white: #fff;
    --color--text: #7093ff;
  }
}

:root {
  --text--bold: 600;
  --text--regular: 400;
  --text--spacing: 0.3rem;
  --padding--btn: 1rem;
  --box--shadow: 0px 2px 20px #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background-color: var(--background--primary);
  color: var(--color--white);
  font-weight: 400;
  font-family: 'Fredoka', sans-serif;
  letter-spacing: 1.5px;
}
